@using SQL_Read_Write_MVC.Models;

@{
    Layout = null;
}
@model List<RecordInfo>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Result</title>
</head>
<body>
    <div>
        @{
            <a href='@Url.Action("Index", "Home")'>
                <input type='button' value='Enter More' />
            </a>

            @*<script>
                    function clientOffsetMinutes() {
                        var d = new Date();
                        var n = d.getTimezoneOffset();
                        return n;
                    }
                </script>*@


            <table>
                <tr>
                    <th>INPUT</th>
                    <th>DATE_TIME</th>
                </tr>
                @foreach (RecordInfo rec in Model)
                {


                    <tr>
                        <td>@rec.Input &nbsp &nbsp</td>
                        <td>
                            <span class="timestamp">
                                <script type="text/javascript">
                                    var entrydate = new Date('@rec.DayTime.ToString()');
                                    var offset = new Date().getTimezoneOffset();
                                    var adjustedDate = new Date(entrydate);
                                    adjustedDate.setMinutes(entrydate.getMinutes() - offset);
                                    document.write(adjustedDate.toLocaleDateString('en-US'));
                                    document.write(' at ');
                                    document.write(adjustedDate.toLocaleTimeString('en-US'));
                                    //document.write(' offset= ' + offset + ' minutes ' + adjustedDate.toLocaleTimeString());
                                </script>
                            </span>
                        </td>



                        @*<td>@rec.DayTime.ToLocalTime().ToShortDateString() &nbsp &nbsp  @rec.DayTime.ToLocalTime().ToShortTimeString()</td>*@
                        @*<td>@rec.DayTime.ToLocalTime()</td>*@
                    </tr>
                }

            </table>
        }
    </div>
</body>
</html>
